<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todos</title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
  </head>
  <style>
  input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 2px solid #ccc;
      box-sizing: border-box;
      border-radius: 4px;
  }
  body {
    background-color: lightblue;
}
.champ {
    background: white;
    margin-bottom: 5px;
    padding: 10px;
    width: 1000px;
    border-radius: 4px;
    height: 38px;
}
.champ:hover {
    background: aliceblue;
}
.champ:hover > form >button {
    display: inline-block;

}
.champ button {
    display: none;
  }
h1 {
    color: white;
    text-align: center;
}
label {
    font-family: verdana;
    font-size: 20px;
}
.my-form{
  display: inline-block;
}
.my-form:nth-child(1){
width: 90%;
}
.desc{
  display: inline-block;
  width: 92%;
}


</style>
<body> 
<ul> 
<div class="ui compact menu">
  {{#compteur}}
     <a class="item">
    <i class="icon file alternate outline"></i> Todo Fait
    <div class="floating ui red label"> {{afaire}} </div>
  </a>
  <a class="item">
    <i class="icon file alternate outline"></i> Todo A Faire
    <div class="floating ui teal label"> {{fait}} </div>
  </a>
  <a class="item"  href="/login"> <i class="icon sign-out"></i> Log Out </a>  
  {{/compteur}}
  </div>
  </ul> 
  <ul>
        <h1>Welcome to the TO DO.</h1>      
      <label for="fname">Ce que je dois faire!</label>
      <form  action="/AddTodo" method="post" >
        <input type="text" name="description" placeholder="Je veux..." >
        <button  type="submit" class="ui inverted secondary button">AJOUTER</button>
     </form>
   </ul>   
  <ul>
  {{#todos}}
    <div class="champ">
          <form action="/todos/{{_id}}/Fait" method="post" class="my-form">
                <i class="icon file alternate outline"></i>
                <span class="desc">{{description}} -{{done}}</span>
                <button type="submit"  > Fait</button>
         </form>
          <form action="/todos/{{_id}}/delete" method="post" class="my-form">
                  <button type="submit"  >Delete</button>
          </form>
     </div>
  {{/todos}}
  </ul>
    
   <ul>
   <h3>Déjà Fait</h3>
     {{#doneTodos}}
     <div class="champ">
       <form action="/todos/{{_id}}/Fait" method="post" class="my-form">
           <i class="icon file alternate outline"></i>
           <span class="desc">{{description}} -{{done}}</span>
           <button type="submit"> à refaire </button>
       </form>
       <form action="/todos/{{_id}}/delete" method="post"  class="my-form">
           <button type="submit"  >Delete</button>
       </form>

     </div>
  {{/doneTodos}}
   </ul>


  </body>
</html>
